@page
@model StaffApplication.Pages.Employees.IndexModel
@{
}

<h1>New Employee</h1>



< class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    
   
    


    @{
        ViewData["Title"] = "Movies";
    }

<h1 class="bg-info text-white">Movies</h1>
<a asp-page="Create" class="btn btn-secondary">Create a Movie</a>

<table class="table table-sm table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actors</th>
    </tr>
        @foreach ( var staff in Model.staffList)
        {
            <tr>
            <td>@staff.Id</td>
            <td>@staff.LastName</td>
                <td>@staff.FirstName</td>
                <td>@staff.Email</td>
                <td>@staff.EmploymentDate</td>
            </tr>
        }
</table>