page
@model StaffApplication.Pages.Employees.StaffModel
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using StaffApplication.Entity;
@using StaffApplication.Models;
@using Models;

@{
    ViewData["Title"] = "Create a Movie";
}

<h1 class="bg-info text-white">Create a Movie</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.staff.FirstName"></label>
        <input type="text" asp-for="@Model.staff.FirstName" class="form-control" />
        <span asp-validation-for="@Model.staff.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.staff.LastName"></label>
        <input type="text" asp-for="@Model.staff.LastName" class="form-control" />
        <span asp-validation-for="@Model.staff.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.staff.Email"></label>
        <input type="text" asp-for="@Model.staff.Email" class="form-control" />
        <span asp-validation-for="@Model.staff.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.staff.EmploymentDate"></label>
        <input type="text" asp-for="@Model.staff.EmploymentDate" class="form-control" />
        <span asp-validation-for="@Model.staff.EmploymentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.staff.DepartmentId"></label>
        <input type="text" asp-for="@Model.staff.DepartmentId" class="form-control" />
        <span asp-validation-for="@Model.staff.DepartmentId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>


